<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835615571091-sdc294ad2juvc16j3f8dg0a9ebhkb5iu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835615571091-sdc294ad2juvc16j3f8dg0a9ebhkb5iu</string>
	<key>API_KEY</key>
	<string>AIzaSyBd33c7i9GXec3zvk2oQOp5IzAhZh9-nhU</string>
	<key>GCM_SENDER_ID</key>
	<string>835615571091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xbanana.merkhaApp</string>
	<key>PROJECT_ID</key>
	<string>test-free-project-merkha</string>
	<key>STORAGE_BUCKET</key>
	<string>test-free-project-merkha.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835615571091:ios:e2d2c5766a942b175a2166</string>
</dict>
</plist>